@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,300&display=swap");
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Maven Pro", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #17383e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url("../assets/imgs/bg-home.jpg");
}

main.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 200px);
}

a {
  color: #17383e;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #17383e;
}

button {
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
h1 b {
  font-weight: 900;
}

.c-block {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  max-width: 830px;
  margin: 0 auto;
}

.home form input,
.home form select {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  padding: 0 20px 0 15px;
  border: 1px solid #f4e4c8;
  outline: 0;
  background-color: transparent;
  font-weight: 300;
  font-style: italic;
  color: #17383e;
}