@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Montserrat:ital,wght@0,600;0,900;1,300&family=Quicksand:wght@400;700&display=swap");
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #17383e;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/imgs/bg-mobile.jpg");
}
@media (min-width: 576px) {
  body {
    background-image: url("../assets/imgs/bg-home.jpg");
  }
  body.bg-etapes {
    background-image: url("../assets/imgs/bg-etapes.jpg");
  }
  body.bg-confirmation {
    background-image: url("../assets/imgs/bg-confirmation.jpg");
  }
}

main {
  min-height: calc(100vh - 315px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #17383e;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #17383e;
}

button {
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

.c-block {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 30px 15px;
  max-width: 830px;
  margin: 0 auto 40px;
}
@media (min-width: 992px) {
  .c-block {
    padding: 40px;
  }
}
.c-block h1,
.c-block h2 {
  font-size: 25px;
}
.c-block p {
  font-size: 16px;
  margin-bottom: 0;
}

.c-btn {
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ee7b1e;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 0 40px;
  margin: 30px auto;
}

footer {
  background-color: white;
  padding: 7px;
  text-align: center;
}

.home form .input,
.home form input:not([type=checkbox]),
.home form select {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  padding: 0 20px 0 15px;
  border: 1px solid #f4e4c8;
  outline: 0;
  background-color: transparent;
  font-weight: 300;
  font-style: italic;
  color: #17383e;
}
.home form .input[type=file],
.home form input:not([type=checkbox])[type=file],
.home form select[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.home form .input[type=file] + label,
.home form input:not([type=checkbox])[type=file] + label,
.home form select[type=file] + label {
  display: flex;
  align-items: center;
}
.home form ::-moz-placeholder {
  color: #17383e;
  opacity: 1;
}
.home form :-ms-input-placeholder {
  color: #17383e;
  opacity: 1;
}
.home form ::placeholder {
  color: #17383e;
  opacity: 1;
}
.home form .checkbox-container {
  display: flex;
  font-family: "Quicksand", sans-serif;
  align-items: flex-start;
}
.home form .checkbox-container input {
  position: relative;
  top: 3px;
}
.home form .info {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 12px;
}
.home a {
  color: #ee7b1e;
  text-decoration: underline;
}

.etapes {
  text-align: center;
}
.etapes h1 {
  text-transform: uppercase;
}
.etapes h1 b {
  font-weight: 900;
}
.etapes h1 b:first-child {
  font-size: 54px;
}
.etapes aside {
  font-size: 20px;
  margin-bottom: 30px;
}
.etapes h2 {
  font-weight: 900;
  margin-bottom: 20px;
}
.etapes .c-block {
  padding: 30px 15px;
  max-width: 700px;
}
.etapes .c-btn {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.etapes .c-btn:hover {
  color: white;
}

.confirmation {
  text-align: center;
  justify-content: space-between;
}
.confirmation h1 {
  font-size: 30px;
}
.confirmation h1 b {
  font-weight: 900;
}
.confirmation h1 b:first-child {
  font-size: 40px;
}
@media (min-width: 576px) {
  .confirmation img {
    margin-top: -80px;
  }
}