body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Maven Pro", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: $black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up($lg) {
    background-position: center top;
    &.participer,
    &.connexion,
    &.creation-compte {
      background-image: url("../assets/imgs/bg-login.jpg");
    }
    &.reinitialisation-mdp {
      background-image: url("../assets/imgs/bg-reinitialisation-mdp.jpg");
    }
    &.home {
      background-image: url("../assets/imgs/bg-home.jpg");
    }
    &.reinitialisation-mdp {
      background-image: url("../assets/imgs/bg-reinitialisation-mdp.jpg");
    }
    &.enregistrer-action,
    &.mes-coordonees {
      background-image: url("../assets/imgs/bg-action.jpg");
    }
  }
}

main {
  &.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 200px);
  }
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}

button {
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
