.etapes {
  text-align: center;
  h1 {
    text-transform: uppercase;
    b {
      font-weight: 900;
      &:first-child {
        font-size: 54px;
      }
    }
  }
  aside {
    font-size: 20px;
    margin-bottom: 30px;
  }
  h2 {
    font-weight: 900;
    margin-bottom: 20px;
  }
  .c-block {
    padding: 30px 15px;
    max-width: 700px;
  }
  .c-btn {
    display: flex;
    width: fit-content;
    &:hover {
      color: white;
    }
  }
}
